# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\F1_scene\pixpro_otherseq_multiswint4\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
